<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <h2 class="font-w600 title pl-3 mb-2 mr-auto">Dashboard</h2>
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-2">THỐNG KÊ DOANH THU</div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="d-flex align-items-center border-right">
                  <h1 class="py-5">1280,000,000</h1>
                  <span>VNĐ</span>
                </div>
              </div>
              <div class="col-6">
                <div class="border-right">
                  {{#each objHour}}
                  <p><strong>Ngày mua:</strong> {{this._id}}</p>
                  <p>Số lượng: {{this.total}} sản phẩm</p>
                  {{!-- <p>Giá: {{this.price}} vnđ</p> --}}
                  {{/each}}
                </div>
              </div> 
              {{!-- <div class="col-8">
                <div class="border-right">
                  {{#each objDay}}
                  <p><strong>Ngày mua:</strong> {{this._id}}</p>
                  <p>Số lượng: {{this.total}} sản phẩm</p>
                  {{/each}}
                </div>
              </div> 
              <div class="col-8">
                <div class="border-right">
                  {{#each objMonth}}
                  <p><strong>Tháng mua:</strong> {{this._id}}</p>
                  <p>Số lượng: {{this.total}} sản phẩm</p>
                  {{/each}}
                </div>
              </div>  --}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- <div class="">
      <div id="pie-chart"></div>
      <div id="bar-chart"></div>
      <div id="line-chart"></div>
    </div> --}}
  </div>
</div>