<!-- Start Cart modal -->
<div class="site-cart">
    <div class="site-cart-overlay"></div>

    <div class="site-nav-container-last">
        <div class="cart-modal-title">
            <span class="modal-title-text">Giỏ hàng</span>
            <span id="cart-btn-close" class="cart-close-btn">
                <i class="fas fa-times"></i>
            </span>
        </div>

        {{!-- <div class="cart-view-list clearfix cart-view-list-empty"> --}}
            {{!-- <table class="cart-view cart-view-empty">
                <tr class="cart-item cart-item-empty">
                    <td>Chưa có sản phẩm trong giỏ hàng</td>
                </tr>
            </table> --}}

            <!-- Start Cart Table -->
            <table class="cart-view">
                <tbody>
                   
                </tbody>
            </table>
            <!-- End Cart Table -->

            <span class="line"></span>

            <!-- Start Total Table -->
            <table class="table-total">
                <tbody>
                    <tr>
                        <td class="text-left">TỔNG TIỀN:</td>
                        <td class="cart-total-price text-right">0VNĐ</td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-success btn-site-cart" href="cart.html">THANH TOÁN</a>
            <!-- End Total Table -->
        </div>
    </div>
</div>
<!-- End Cart modal -->

<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row product-container">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid product-img" src="{{sku.img}}" alt="thumbnail" id="product-detail">
                    {{!-- {{/each}} --}}
                </div>

            </div>

            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">

                        <h3 class="content-product-h3 product-name">{{product.name}}</h3>
                        <!-- <p>Lắc tay bạc unisex</p> -->

                        <div class="card-body-price">
                            <h4 class="price-unit product-price">{{product.price}}</h4>
                            <p class="price-unit">vnd</p>
                        </div>

                        <ul class="list-inline">
                        </ul>

                        {{!-- Input value for cart --}}
                        <input hidden value="{{sku.color.title}}" class="product-color" type="text">
                        <input hidden value="{{size.size}}" class="product-size" type="text">

                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-inline pb-3 d-flex align-items-center">
                                        <li class="list-inline-item">Màu sắc :</li>
                                        {{#each product.skus}}
                                        <li class="list-inline-item m-0">
                                            <a href="/product/detail/{{../product._id}}/{{this.sku}}/{{../size.size}}">
                                                <span class="product-detail-dot"
                                                    style="background-color: {{this.color.color_code}};"></span>
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>

                                <div class="col-12">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item">Kích cỡ :</li>
                                        {{#each sku.sizes}}
                                        <li class="list-inline-item m-0">
                                            <a class="" class="text"
                                                href="/product/detail/{{../product._id}}/{{../sku.sku}}/{{this.size}}">
                                                <span class="sku-sizes-picker">{{this.size}}</span>
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>

                                <div class="col-12">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                        </li>

                                        <li class="list-inline-item">
                                            <div class="quantity-selection">
                                                <form>
                                                    <div class="value-button" id="decrease" onclick="decreaseValue()"
                                                        value="Decrease Value">-</div>
                                                    <input class="skuQty product-qty" type="number" name="name"
                                                        id="number" value="1" min="1" max="{{size.qty}}">
                                                    <div class="value-button" id="increase" onclick="increaseValue()"
                                                        value="Increase Value">+</div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="col d-grid">
                                        <div class="btn btn-success add-cart-btn" value="addtocard">Thêm vào giỏ hàng
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->

<script>
    var skuQty = document.querySelector('.skuQty')
    var skuSizes = document.querySelectorAll('.sku-sizes-picker').forEach(sku => {
        sku.addEventListener('click', function () {
            var parent = sku.getAttribute("data-parent")
            skuQty.max = parent + '.qty'
            console.log(skuQty.max)
        })
    })
</script>

{{!-- Gio hang --}}

<script>
    var remove_cart = document.getElementsByClassName("remove-btn");
    for (var i = 0; i < remove_cart.length; i++) {
        var remove_btn = remove_cart[i]
        remove_btn.addEventListener("click", function () {
            var remove_btn_element = event.target
            remove_btn_element.parentElement.parentElement.remove()
            updateCart();
        })
    }

    function updateCart() {
        var cartView = document.getElementsByClassName("cart-view")[0];
        var cartItem = cartView.querySelectorAll('.cart-item')
        //var total = 0;
        for (var i = 0; i < cartItem.length; i++) {
            var cart_row = cartItem[i]
            var price_item = cart_row.getElementsByClassName("cart-price")[0]
            var quantity_item = cart_row.getElementsByClassName("cart-quantity-input")[0].value
            var productPrice = price_item.innerText.replaceAll(',', '');
            var price = parseFloat(productPrice)

            var total = total + (price * quantity_item)
        }
        document.getElementsByClassName("cart-total-price")[0].innerText = Intl.NumberFormat().format(total) + 'VNĐ'
    }

    var product = document.querySelector('.product-container')
    var addBtn = product.querySelector('.add-cart-btn')
    addBtn.addEventListener('click', function () {
        var img = product.querySelector('.product-img').src
        var name = product.querySelector('.product-name').innerText
        var price = product.querySelector('.product-price').innerText
        var color = product.querySelector('.product-color').value
        var size = product.querySelector('.product-size').value
        var qty = product.querySelector('.product-qty').value

        addItemToCart(img, name, price, color, size, qty)
        updatecart()
    })

    function addItemToCart(img, name, price, color, size, qty) {
        var cartItem = document.createElement('tr')
        cartItem.classList.add('cart-item')
        var cartView = document.getElementsByClassName('cart-view')[0]

        var title = cartView.querySelectorAll('.item-title')
        
        //Nếu title của sản phẩm bằng với title mà bạn thêm vao giỏ hàng thì sẽ thông cho user.
        for (var i = 0; i < title.length; i++) {
            if (title[i].innerText == name) {
                alert('Sản Phẩm Đã Có Trong Giỏ Hàng')
                return
            }
        }

        var cartItemContent = 
        `<td class="item-img">
            <img class="cart-item-image" src="${img}"
                alt="Card image cap" id="product-detail">
        </td>
        <td>
            <a href="" class="item-title">${name}</a>
            <span class="item-properties">${color}, ${size}</span>
            <div class="item-amount">

                <input class="cart-quantity-input" type="number" id="number" value="${qty}" />

                <span class="cart-price">${price}</span>
            </div>
        </td>
        <td>
            <i class="fas fa-times remove-btn"></i>
        </td>`

        cartItem.innerHTML = cartItemContent;
        cartView.append(cartItem);

        cartItem.getElementsByClassName('remove-btn')[0].addEventListener('click', function () {
        var button_remove = event.target
        button_remove.parentElement.parentElement.remove()
        updatecart()
    })
        cartItem.getElementsByClassName('cart-quantity-input')[0].addEventListener('change', function (event) {
        var input = event.target
        if (isNaN(input.value) || input.value <= 0) {
        input.value = 1;
        }
        updatecart()
    })
    }
</script>