<!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                         {{!-- {{#each product.p_variations}}
                                                    <option selected value="1"></option>
                                                     {{/each}} --}}
                         {{!-- {{#each product.p_variations}} --}}
                        <img class="card-img img-fluid" src="{{product.skus.0.img}}"
                            alt="thumbnail" id="product-detail">
                            {{!-- {{/each}} --}}
                    </div>

                </div>
            
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">

                            <h4>{{product.name}}</h4>
                            <!-- <p>Lắc tay bạc unisex</p> -->

                            <div class="card-body-price">
                                <h4 class="price-unit">{{product.price}}</h4>
                                <p class="price-unit">vnd</p>
                            </div>

                            <ul class="list-inline">

                                {{!-- <li class="list-inline-item">
                                    <p>Lắc tay inox unisex</p>
                                </li> --}}
                            </ul>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item">Màu sắc :
                                                {{!-- <input type="hidden" name="product-size" id="product-size" value="S"> --}}
                                            </li>
                                           {{#each product.skus}}
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <button class="product-detail-dot" 
                                                  style="background-color: {{this.color.color_code}};"></button>
                                                </a>
                                            </li>  
                                            {{/each}}
                                        </ul>
                                    </div>

                                    <div class="col-12">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item">Kích cỡ :
                                                {{!-- <input type="hidden" name="product-size" id="product-size" value="S"> --}}
                                            </li>
                                           
                                            <li class="list-inline-item">
                                                <p>{{sku.color.title}}</p>
                                            </li>
                                        </ul>
                                    </div>

                                     <div class="col-12">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item">Kho :
                                                {{!-- <input type="hidden" name="product-size" id="product-size" value="S"> --}}
                                            </li>
                                            {{!-- {{#each sku.sizes}} --}}
                                            <li class="list-inline-item">
                                                <p>{{product}}</p>
                                            </li>
                                            {{!-- {{/each}} --}}
                                        </ul>
                                    </div>
        
                                    <div class="col-12">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Quantity
                                                
                                            </li>

                                            <li class="list-inline-item">
                                                <div class="quantity-selection">
                                                    <form>
                                                        <div class="value-button" id="decrease" onclick="decreaseValue()"
                                                            value="Decrease Value">-</div>
                                                           
                                                            <input type="number" name="name" id="number" value="1" required min="1" max=
                                                            " {{#each product.skus.0.sizes}}
                        
                                                  
                                       
                                                            {{this.qty}}
    
                                                      
                                                            {{/each}}">
                                                          
                                                        <div class="value-button" id="increase" onclick="increaseValue()"
                                                            value="Increase Value">+</div>
                                                    </form>  
                                                </div>
                                            </li>                        
                                        </ul>
                                         <div class="col d-grid">
                                        <button type="submit" class="btn btn-success" name="submit"
                                            value="addtocard">Thêm vào giỏ hàng</button>
                                    </div>
                                    </div>
                                </div> 
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->