<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <form method="POST" action="/adminOrder/{{order._id}}?_method=PUT">
            <div class="card-header">

              <h4 class="card-title">Chỉnh sửa đơn hàng - {{order._id}}</h4>

              <div>
                <button type="button" class="btn btn-danger">
                  <a href="/adminOrder/{{order._id}}/editOrder/cancelOrder?_method=PUT" class="btn btn-danger btn-xs">Hủy đơn hàng</a>
                </button>
                <button type="button" class="btn btn-info">
                  <a href="/adminOrder/{{order._id}}/editOrder/confirmOrder?_method=PUT" class="btn btn-info btn-xs">Xác nhận</a>
                </button>
              </div>

            </div>
            <div class="card-body">
              <div class="form-validation">
                <div class="row">
                  <div class="col-xl-12">
                    <div class="form-group row">
                      <label class="col-lg-2 col-form-label" for="cusName">Tên
                        khách hàng: </label>
                      <div class="col-lg-4">
                        <input type="text" class="form-control" id="cusName" name="name" value="{{order.name}}" />
                      </div>

                      <label class="col-lg-2 col-form-label" for="cusNumber">Số
                        điện thoại:
                      </label>
                      <div class="col-lg-4">
                        <input type="text" class="form-control" id="cusNumber" name="phonenumber"
                          value="{{order.phonenumber}}" />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-lg-2 col-form-label" for="cusAddress">Địa chỉ:</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="cusAddress" name="address"
                          value="{{order.address}}" />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-lg-2 col-form-label" for="cusNote">Ghi
                        chú: </label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="cusNote" name="note" value="{{order.note}}"
                          readonly />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-lg-2 col-form-label" for="cusNumber">Hình thức thanh toán:
                      </label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="cusNumber" name="phonenumber" readonly
                          value="{{order.orderType}}" />
                      </div>

                      <label class="col-lg-2 col-form-label" for="cusPromo">Mã
                        khuyến mãi:
                        <span class="text-danger">*</span>
                      </label>
                      {{#ifCond order.orderPromo ""}}
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="cusPromo"
                            readonly
                            value="Không có mã giảm"
                          />
                        </div>
                      {{else}}
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="cusPromo"
                            readonly
                            value="{{order.orderPromo}}"
                          />
                        </div>
                      {{/ifCond}}
                    </div>

                    <div class="form-group row">
                      <label
                        class="col-lg-2 col-form-label"
                        for="cusNumber"
                      >Tổng tiền hàng:<span class="text-danger">*</span>
                      </label>
                      <div class="col-lg-4">
                        <input
                          type="text"
                          class="form-control"
                          id="cusNumber"
                          name="phonenumber"
                          readonly
                          value="{{order.orderTotal}}đ"
                        />
                      </div>

                      <label class="col-lg-2 col-form-label" for="cusPromo">Tổng thanh toán:
                        <span class="text-danger">*</span>
                      </label>
                      {{#ifCond order.orderPromo ""}}
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="cusPromo"
                            readonly
                            value="{{order.orderTotal}}đ"
                          />
                        </div>
                      {{else}}
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="cusPromo"
                            readonly
                            value="{{order.orderTotalPromo}}đ"
                          />
                        </div>
                      {{/ifCond}}
                    </div>

                    <h4 class="card-title">Giỏ hàng</h4>
                      <div class="form-group row">
                        <table class="table">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">STT</th>
                              <th scope="col">Sku</th>
                              <th scope="col">Số lượng</th>
                              <th scope="col">Đơn giá</th>
                            </tr>
                          </thead>
                    	    {{#each order.items}}
                          <tbody>
                            <tr>
                              <td>{{@index}}</td>
                              <td>{{this.sku}}</td>
                              <td>{{this.qty}}</td>
                              <td>{{this.price}}</td>
                            </tr>
                   		    {{/each}}
							              <tr>
                              <td></td>
                              <td></td>
                              <td>in tổng số lượng</td>
                              <td>in tổng tiền</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    <div class="form-group row justify-content-end">
                      <div class="col-2 text-right">
                        <button type="submit" class="btn btn-primary">Lưu đơn hàng</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="order-amount-container">
            <span class="shipping-fee">Phí</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>